asn1crypto==0.24.0
Click==7.0
enum34==1.1.6
Flask==1.0.2
idna==2.6
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.11.3
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
style==1.1.0
update==0.0.1
virtualenv==15.1.0
Werkzeug==0.15.2
