h1 {
    margin: 0;
    background-color: green;
    color: yellow;
    text-align: center;
    border: 10px;
    font-family: 'Poppins', sans-serif;
    padding: 30px 0;
    letter-spacing: 5px;
}
h2 {
    margin-top: 0;
    text-align: center;
    background-color: #0caf0f;
    font-family: 'Poppins', sans-serif;
    color: yellow;
}
h3 {
    text-align: center;
    color: #725915;
}
p{
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #87660d;
    border-radius: 10px;
    font-size: 35px;
}
a {
    text-decoration: none;
    max-width: 250px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

button{
    font-family: 'Poppins', sans-serif;
    background-color: #947b38;
    transition: 0.4s;
    text-align: center;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    display: block;
    padding: 14px 40px;
    margin: 0 auto;
    color: white;
}
button:hover {
    background-color: #cca94c;
    transition: 0.4s;
}

ul {
    padding-left: 0;
    display: inline;
    list-style-type: none;
}
li {
    font-style: bold;
}
.wrap{
    max-width: 100%;
    width: 1080px;
    height: auto;
    display: block;
    background: rgba(255, 255, 255, 0.5);
    margin: auto;
}
.random-menus{
    background-image: url("/static/bg-menu.jpg") inherit;

}
.menu {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;


}
.text {
    background: rgba(255, 255, 255, 0.5);
}
.ingredients{
    text-align: center;
    color: #87660d;
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    width: 20%;
}
body {
    margin: 0;
    padding: 0;
    background: url("/static/pattern.png");
}