h1 {
    margin: 0;
    background-color: green;
    color: yellow;
    text-align: center;
    border: 10px;
    font-family: 'Schoolbell', cursive;
    padding: 30px 0;
    letter-spacing: 5px;
}
h2 {
    margin-top: 0;
    text-align: center;
    background-color: #0caf0f;
    font-family: 'Schoolbell', cursive;
    color: yellow;
}
h3 {
    text-align: center;
}
p{
    margin-top: 150px;
    font-family: 'Schoolbell', cursive;
    text-align: center;
    color: #87660d;
    border-radius: 10px;
    font-size: 45px;
}
a {
    text-decoration: none;
    max-width: 250px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

button{
    font-family: 'Schoolbell', cursive;
    background-color: #947b38;
    transition: 0.4s;
    text-align: center;
    font-size: 30px;
    border: none;
    cursor: pointer;
    width: 100%;
    display: block;
    padding: 14px 40px;
    margin: 0 auto;
    color: white;
}
button:hover {
    background-color: #cca94c;
    transition: 0.4s;
}

ul {
    display: inline;
    list-style-type: none;
}
.wrap{
    max-width: 100%;
    width: 1080px;
    height: auto;
    display: block;
    background: rgba(255, 255, 255, 0.5);
    margin: auto;
}
.menu {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;


}
.text {
    background: rgba(255, 255, 255, 0.5);
}
.ingredients{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-size: 22px;
    font-family: 'Schoolbell', cursive;
    max-width: 100%;
    width: 20%;
}
body {
    margin: 0;
    padding: 0;
    background: url("/static/pattern.png");
}