<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subway Generator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>
<body>
    <h1> Bem vindo ao Subway Generator</h1>
    <h2> Olá, o seu Subway será gerado automaticamente, espero que goste!</h2>
    <div class="wrap random-menus">
        <div class="text">
            <p> O seu Subway terá o pão {{ rbread }}, o tamanho dele será de {{ rsize }}. O sabor dele será {{ rfill }}! O seu queijo é {{ rcheese }} e também o molho {{ rsauce }}.<br> Tenha uma ótima refeição!!</p>
        </div>
        <a href="{{ url_for('rand') }}"><button>Gerar novo Sub!</button></a>
        <div class="menu">
             <div class="ingredients">
                 <h3>Pães</h3>
                 <ul>
                    {% for item in bread %}
                    <li> {{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="ingredients">
                <h3>Tamanhos</h3>
                <ul>
                    {% for item in size %}
                    <li> {{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="ingredients">
                <h3>Sabores</h3>
                <ul>
                    {% for item in fill %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="ingredients">
                <h3>Queijos</h3>
                <ul>
                    {% for item in cheese %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="ingredients">
                <h3>Molhos</h3>
                <ul>
                    {% for item in sauce %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>