<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subway Generator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Schoolbell" rel="stylesheet">
</head>
<body>
    <h1> Welcome to the Subway Generator</h1>
    <h2> Hello, your subway will be generated completely random. Hope you enjoy it</h2>
    <div class="text">
    <p> Your random subway will have the {{ rbread }} as the bread, it will be {{ rsize }} long. The main filling is {{ rfill }} and the cheese is {{ rcheese }}, your sauce is {{ rsauce }}.<br> Have a nice meal!</p>
    </div>
    <a href="{{ url_for('rand') }}"><button>Randomize it!</button></a>
</body>
</html>